NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBJ1jGS2fJ9-zHJ7QSl5yZX6vns-dIGlHY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=auvtracker.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=auvtracker
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=auvtracker.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=72965848524
NEXT_PUBLIC_FIREBASE_APP_ID=1:72965848524:web:7d3c36d0632858e9ceb169
